@import "tailwindcss";

html,
body,
#root {
  height: 100%;
  margin: 0;
  background-color: #020617; /* slate-950 */
}

* {
  scrollbar-width: thin;
  scrollbar-color: #334155 transparent;
}

/* Chrome scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 10px;
}
